{% extends "PrestaShopBundle:Admin:layout.html.twig" %}

{% block content %}


	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>City Name</th>
				<th>Country Name</th>
				<th>Active</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for city in data %}

				<tr>
					<th scope="row">{{ city.id }}</th>
					<td>{{ city.cityName }}</td>
					<td>{{ city.countryId }}</td>
					<td>{{ city.active == 1 ? 'Active' : 'Non-Active' }}</td>
					<td>
						<a href="{{ path('city_edit', {'id': city.id } ) }}" type="button" class="btn btn-primary">Edit</a>
						<a href="{{ path('city_delete', {'id': city.id } ) }}" type="button" class="btn btn-danger">Delete</a>

					</td>
				</tr>
			{% endfor %}
		</tbody>
	</tr>
</tbody></table>{% endblock %}
