{% extends "PrestaShopBundle:Admin:layout.html.twig" %}

{% block content %}
	{% for message in app.flashes('notice') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th>City Name</th>
				<th>Zone ID</th>
				<th>Active</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for cityShipping in data %}
				<tr>
					{# <th scope="row">{{ cityShipping.getCityList.id }}</th> #}
					<td>{{ cityShipping.getCityList.getCityName|capitalize }}</td>
					<td>
						{{cityShipping.getZoneId}}
					</td>
					<td>{{ cityShipping.active == 1 ? 'Active' : 'Non-Active' }}</td>
					<td>
						<a href="{{ path('city_shipping_update', {'id': cityShipping.id } ) }}" type="button" class="btn btn-primary">Edit</a>
						<a href="{{ path('city_shipping_delete', {'id': cityShipping.id } ) }}" type="button" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</tr>

	<a href="{{ path('city_shipping_create') }}" type="button" class="btn btn-outline-primary">Add New City Shipping</a>
</tbody></table>{% endblock %}
