{% extends "PrestaShopBundle:Admin:layout.html.twig" %}

{% block content %}
	{% for message in app.flashes('notice') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>City Name</th>
				<th>Country Name</th>
				<th>Active</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for city in data %}
				<tr>
					<th scope="row">{{ city.id }}</th>
					<td>{{ city.cityName|capitalize }}</td>
					<td>
						{% for country_key,country_name in table_city %}
							{% if city.countryId == country_key %}
								{{ country_name|capitalize }}
							{% endif %}
						{% endfor %}
					</td>
					<td>{{ city.active == 1 ? 'Active' : 'Non-Active' }}</td>
					<td>
						<a href="{{ path('city_update', {'id': city.id } ) }}" type="button" class="btn btn-primary">Edit</a>
						<a href="{{ path('city_delete', {'id': city.id } ) }}" type="button" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</tr>

	<a href="{{ path('city_create') }}" type="button" class="btn btn-outline-primary">Add New City</a>
</tbody></table>{% endblock %}
